@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  font-family: 'Quicksand', sans-serif;
} */

.arrow {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  transform: rotate(360deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 5vh;
  height: 5vh;
  border-bottom: 5px solid #E3B951;
  border-right: 5px solid #E3B951;
  transform: rotate(45deg);
  animation: animate 3s infinite 1s;
}

.arrow span:nth-child(2) {
  animation-delay: -1.6s;
}

.arrow span:nth-child(0) {
  animation-delay: -0.8s;
}

.arrow span:nth-child(1) {
  animation-delay: -1.2s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #E3B951 #0000;
  animation: l1 1s infinite;
}


@keyframes l1 {to{transform: rotate(.5turn)}}


input[type="checkbox"] {
  appearance: none; 
  width: 20px;
  height: 20px;
  background-color: #E3B951; 
  border: 1px solid #212529; 
  border-radius: 4px; 
  cursor: pointer;
  transition: all 0.3s ease; 
}


input[type="checkbox"]:checked {
  background-color: #212529; 
  border-color: #212529; 
}


input[type="checkbox"]:checked::after {
  content: '✓';
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


input[type="checkbox"]:hover {
  border-color: #888; 
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@layer base {
  body {
    @apply font-primary bg-primary text-white;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Lebar scrollbar lebih ramping */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2e2e2e; /* Track warna abu-abu gelap */
  border-radius: 6px; /* Bikin track lebih smooth */
  margin: 10px 0; /* Kasih jarak atas-bawah biar nggak full */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8c8c8c; /* Thumb warna abu-abu terang */
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; /* Warna saat hover */
}


