@tailwind base;
@tailwind components;
@tailwind utilities;

/* Existing arrow styles */
.arrow {
  transform: translate(-50%, -50%);
  transform: rotate(360deg);
  cursor: pointer;
}

.arrow span {
  width: 3vh;
  height: 3vh;
  display: block;
  border-bottom: 5px solid #E3B951;
  border-right: 5px solid #E3B951;
  animation: animate 2s infinite 1s;
}

.arrow span:nth-child(even) {
  animation-delay: 0.8s;
}

.arrow span:nth-child(odd) {
  animation-delay: -1.2s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1; 
    transform: rotate(45deg) translate(5px, 5px);
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

/* Existing loader styles */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #E3B951 #0000;
  animation: l1 1s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(.5turn)
  }
}

/* Existing checkbox styles */
input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #E3B951;
  border: 1px solid #212529;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: #212529;
  border-color: #212529;
}

input[type="checkbox"]:checked::after {
  content: '✓';
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:hover {
  border-color: #888;
}

@layer base {
  body {
    @apply font-primary bg-primary text-white;
  }

  .Toastify__toast {
    @apply font-primary
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  margin-left: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8c8c8c;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

/* New Bookmark Sidebar Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

/* Sidebar transition utilities */
.sidebar-enter {
  transform: translateX(100%);
}

.sidebar-enter-active {
  transform: translateX(0%);
  transition: transform 300ms ease-in-out;
}

.sidebar-exit {
  transform: translateX(0%);
}

.sidebar-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

/* Overlay transition utilities */
.overlay-enter {
  opacity: 0;
}

.overlay-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.overlay-exit {
  opacity: 1;
}

.overlay-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.dropdown select {
 --webkit-appearance: none;
 --moz-appearance: none;
 appearance: none;
 outline: none;
}

